<div class="user-item">

    <div class="user-item__icon">
        <i class="fas fa-user"></i>
    </div>
    <div class="user-item__field">
        <div class="user-item__label">Username :</div>
        <div class="user-item__value">{{user.name}}</div>
    </div>

    <div class="user-item__field">
        <div class="user-item__label">Email :</div>
        <div class="user-item__value">{{user.email}}</div>
    </div>

    <div class="user-item__field">
        <div class="user-item__label">Phone :</div>
        <div class="user-item__value">{{user.phone}}</div>
    </div>
</div>
